<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

      <%- include('../header/nav-menu.ejs') %>
      <%- include('../header/slide.ejs')%>

    <h1>playlisc</h1>
    <%- include('../footer/footer.ejs')  %>
  </body>
</html>
